node_modules/
.DS_Store
*.png
out/
tmp/
*.log
logs/
charts/
test.js

/style.css

/phantom/style.css

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
