commands:
  create-pre-dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/010_setup_swap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      SWAPFILE=/swapfile
      SWAP_MEGABYTES=2048

      if [ -f $SWAPFILE ]; then
        echo "Swapfile $SWAPFILE found, kill swap and re-create"
        /sbin/swapoff /swapfile
        rm /swapfile
      fi

      /bin/dd if=/dev/zero of=$SWAPFILE bs=1M count=$SWAP_MEGABYTES
      /sbin/mkswap $SWAPFILE
      /sbin/swapon $SWAPFILE

      /bin/chown root:root $SWAPFILE
      /bin/chmod 600 $SWAPFILE

commands:
  setup_swap:
    command: "bash /opt/elasticbeanstalk/hooks/appdeploy/pre/010_setup_swap.sh"
